.paginationBttns, .previousBttn, .nextBttn {
    border:'';
    color:blueviolet;
}

.previous, .next{
    color:brown;
    border-color: chartreuse;
}

.selected{
    color:darkcyan;
    font-weight: bolder;
}